/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------- */
/* setting */
img{
    max-width: 100%;
}
.wrap{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 37px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.f-h2{
    font-size: 32px;
    line-height: 43px;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.f-span{
    font-size: 24px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    margin-left: 16px;
}
.font_red{
    color: #A00404;
}
.font_white{
    color: #fff;
}
.bg_blue{
    background: #415165;
}
/* ---------------------- */
/* header */
header h1{
    font-size: 80px;
    line-height: 106px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3px;
    border-bottom: 2px solid #000; 
}
.profile_img{
    width: 324px;
    height: 324px;
    margin: 48px 0px;
}
/* profile */
.profile ul,.education li,.work_experience li{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 24px;
}
/* skills */
.skills{
    max-width: 996px;
    margin: 0 auto;
    padding: 24px 0px 36px;
}
.skills .f-h2{
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: 37px;
}
.skills ul{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
}
.skills_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills li{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}
.mb-none{
    margin-bottom: 0px !important;   /* !!!!!!!!!!! */                    
}
/* work_experience */
.work_experience ul{
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
}
.hex_img,.cafe_img{
    width: 90px;
    height: 90px;
    margin: 8px 0px;
}
.work_experience p{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Noto Sans', sans-serif;
    width: 642px;       /* !!!!!!!!!!! */
}
/* contact_method */
.contact_method{
    text-align: center;
    padding: 24px 0px 36px;
}
.contact_method .f-h2{
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}
.contact_method li{
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
}
.mail,.website{
    margin-bottom: 16px;
}
.phone{
    margin-bottom: 13px;
}
.address{
    margin-bottom: 15px;
}
.social{
    display: flex;
    justify-content: center;
}
.social img{
    width: 48px;
    height: 48px;
    margin: 0px 12px;
}
/* paragraph margin-bottom */
.mb-part{
    margin-bottom: 72px;    /* 覆蓋 .skills 的 m0-auto*/
}
